/* Global */
:root {
    --buttonBG: #351c75;
    --buttonBGHover: #bd60e7;
    --highScoreItem: #d9d3e9;
    --questionResult: #d8d7d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* end Global */



/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 16px;
}

header nav a {
    text-decoration: none;
}

header nav a:hover {
    color: var(--buttonBGHover);
}
/* end Header */



/* Start Page */
.start-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page h1 {
    margin: 20px 0 5px 0;
}

.start-page p {
    text-align: center;
    width: 500px;
    line-height: 1.25em;
}

.start-page button {
    background-color: var(--buttonBG);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    border-radius: 6px;
}

.start-page button:hover {
    background-color: var(--buttonBGHover);
}
/* end Start Page */



/* Question */
.question {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.question section {
    align-items: center;
    width: 500px;
}

.question h1 {
    margin: 20px 0 10px 0;
}

.question ul {
    margin: 0 150px 0 0;
    padding: 0;
}

.question ul li {
    list-style: none;
    background-color: var(--buttonBG);
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: left;
    font-size: 13px;
    margin: 5px 150px 5px 0;
    border-radius: 6px;

}

.question ul li:hover {
    background-color: var(--buttonBGHover);
}

.question p {
    color: var(--questionResult);
    border-top: 2px solid var(--questionResult);
    margin-top: 25px;
    padding: 10px 0 0 0;
    font-style: italic;
}
/* end Question */



/* High Scores */
.high-scores {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.high-scores section {
    align-items: flex-start;
    width: 500px;
}

.high-scores h1 {
    margin: 20px 0 10px 0;
    padding-left: 38px;
}

.high-scores ul li {
    background-color: var(--highScoreItem);
    list-style: none;
    padding: 5px;
}

.high-scores div {
    padding-left: 38px;
}

.high-scores button {
    background-color: var(--buttonBG);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 2px;
    border-radius: 6px;
}

.high-scores button:hover {
    background-color: var(--buttonBGHover);
}
/* end High Scores */