/* Global */
:root {
    --buttonBG: #351c75;
    --buttonBGHover: #bd60e7;
    --highScoreItem: #d9d3e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* end Global */



/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 16px;
}

header nav a {
    text-decoration: none;
}

header nav a:hover {
    color: var(--buttonBGHover);
}

/* end Header */



/* Start Page */

.start-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page h1 {
    margin: 20px 0 10px 0;
}

.start-page p {
    text-align: center;
    width: 50%;
    line-height: 1.25em;
}

.start-page button {
    background-color: var(--buttonBG);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    border-radius: 6px;
}

.start-page button:hover {
    background-color: var(--buttonBGHover);
}

/* end Start Page */



/* end Quiz */

/* end Quiz */



/* High Scores */

.high-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.high-scores section {
    align-items: flex-start;
}

.high-scores h1 {
    margin: 20px 0 10px 0;
    padding-left: 38px;
}

.high-scores ul li {
    background-color: var(--highScoreItem);
    list-style: none;
    padding: 5px;
}

.high-scores div {
    padding-left: 38px;
}

.high-scores button {
    background-color: var(--buttonBG);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 2px;
    border-radius: 6px;
}

.high-scores button:hover {
    background-color: var(--buttonBGHover);
}

/* end High Scores */